.card {
  height: 250px;
  width: 200px;
  padding: 10px;
  position: absolute;

  &-1 {
    left: 0;
  }
  &-2 {
    left: 30px;
  }
  &-3 {
    left: 60px;
  }
  &-4 {
    left: 90px;
  }

  &.disabled {
    background-color: lightgray;
  }
}