<header class="header">
  Cards
</header>
<main class="container">
  <div class="carrousel">
    <app-card [cardPos]="1">
      <div class="info">Pierwsza Karta</div>
    </app-card>
    <app-card [cardPos]="2">
      <div class="info">Druga Karta</div>
    </app-card>
    <app-card [cardPos]="3">
      <div class="info">Trzecia Karta</div>
    </app-card>
    <app-card [cardPos]="4">
      <div class="info">Czwarta Karta</div>
    </app-card>
  </div>
</main>
    